In [2]:
import pandas as pd 
df = pd.read_csv('~/Desktop/STAT-628/module3/Data/df.csv')

In [3]:
df.head()

   stars_x  ...                                         categories
0        5  ...  Restaurants, Gastropubs, Nightlife, American (...
1        5  ...  Airport Shuttles, Transportation, Taxis, Hotel...
2        4  ...  Restaurants, Indian, Vegetarian, Vegan, Gluten...
3        3  ...  Mediterranean, Hotels, Beer, Wine & Spirits, B...
4        4  ...  Fast Food, Greek, Breakfast & Brunch, Restaura...

[5 rows x 11 columns]

In [5]:
madison = df.loc[df["city"].str.contains('Madison',case=False, na=False)]
bar=madison.loc[madison["categories"].str.contains('bar',case=False, na=False)]
night_bar = bar.loc[bar["categories"].str.contains('night',case=False, na=False)]
#night_bar.to_csv(r'~/Desktop/STAT-628/module3/Data/bar.csv', index = False)

In [6]:
night_bar.head()

     stars_x  ...                                         categories
55         1  ...                         Bars, Dive Bars, Nightlife
139        5  ...                     Bars, Cocktail Bars, Nightlife
191        5  ...  Nightlife, Bars, Burgers, American (New), Pizz...
192        4  ...  Bars, Sports Bars, Nightlife, Sandwiches, Rest...
219        5  ...  Steakhouses, Restaurants, Bars, Seafood, Night...

[5 rows x 11 columns]