In [32]:
import numpy

In [33]:
import pandas as pd

In [34]:
import os

In [35]:
os.chdir('C:\\Users\\thton\\python所有练习\\STAT_628_Module_3')

In [36]:
bar = pd.read_csv('bar.csv')
bar.head()

,stars_x,useful,text,name,address,city,state,postal_code,stars_y,attributes,categories
0,1,0,Usually the first thing I say when I walk into...,Mondays,523 State St,Madison,WI,53703.0,2.5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Bars, Dive Bars, Nightlife"
1,5,1,My sister and I have visited Gib's twice and b...,Gib's Bar,1380 Williamson St,Madison,WI,53703.0,4.0,"{'Alcohol': ""'full_bar'"", 'GoodForDancing': 'F...","Bars, Cocktail Bars, Nightlife"
2,5,3,The food and vibe here is outstanding. It's de...,Lucille,101 King St,Madison,WI,53703.0,4.0,"{'RestaurantsDelivery': 'True', 'Caters': 'Fal...","Nightlife, Bars, Burgers, American (New), Pizz..."
3,4,1,Simplicity at its best. G&B offers a nice touc...,Gates & Brovi,3502 Monroe St,Madison,WI,53711.0,3.5,"{'Caters': 'True', 'RestaurantsPriceRange2': '...","Bars, Sports Bars, Nightlife, Sandwiches, Rest..."
4,5,0,This is my favorite happy hour place in all of...,Tempest Oyster Bar,120 E Wilson St,Madison,WI,53703.0,4.0,"{'RestaurantsTakeOut': 'False', 'WiFi': ""u'no'...","Steakhouses, Restaurants, Bars, Seafood, Night..."

In [37]:
bar.shape

(29825, 11)

In [38]:
import nltk

In [39]:
text = list(bar.text)

In [40]:
len(text)

29825

In [41]:
text[0]

'Usually the first thing I say when I walk into Monday\'s is "God damn it!  Why am I at Monday\'s?"  I hate this place.  Way too crowded.  Shitty music.  No atmosphere.  Stay the hell away.'

In [42]:
text = [a.lower() for a in text]

In [43]:
text[0]

'usually the first thing i say when i walk into monday\'s is "god damn it!  why am i at monday\'s?"  i hate this place.  way too crowded.  shitty music.  no atmosphere.  stay the hell away.'

In [44]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [45]:
text = ["".join([char for char in a if char not in string.punctuation]) for a in text]

In [46]:
text[0]

'usually the first thing i say when i walk into mondays is god damn it  why am i at mondays  i hate this place  way too crowded  shitty music  no atmosphere  stay the hell away'

In [49]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\thton\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [47]:
words = [ nltk.word_tokenize(a) for a in text ]

In [48]:
words[0]

['usually',
 'the',
 'first',
 'thing',
 'i',
 'say',
 'when',
 'i',
 'walk',
 'into',
 'mondays',
 'is',
 'god',
 'damn',
 'it',
 'why',
 'am',
 'i',
 'at',
 'mondays',
 'i',
 'hate',
 'this',
 'place',
 'way',
 'too',
 'crowded',
 'shitty',
 'music',
 'no',
 'atmosphere',
 'stay',
 'the',
 'hell',
 'away']

In [50]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\thton\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [51]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [52]:
filtered_words = [[word for word in a if word not in stop_words] for a in words]

In [54]:
filtered_words[0][:10]

['usually',
 'first',
 'thing',
 'say',
 'walk',
 'mondays',
 'god',
 'damn',
 'mondays',
 'hate']

In [55]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\thton\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [56]:
from nltk.stem.wordnet import WordNetLemmatizer
lmtzr = WordNetLemmatizer()

In [63]:
lmtzr.lemmatize('kisses')

'kiss'

In [64]:
lemmatized_words =[[lmtzr.lemmatize(x) for x in a] for a in filtered_words]

In [65]:
lemmatized_words[0]

['usually',
 'first',
 'thing',
 'say',
 'walk',
 'monday',
 'god',
 'damn',
 'monday',
 'hate',
 'place',
 'way',
 'crowded',
 'shitty',
 'music',
 'atmosphere',
 'stay',
 'hell',
 'away']

In [66]:
import itertools
word_list = list(itertools.chain.from_iterable(lemmatized_words))

In [67]:
from collections import Counter
freq = pd.DataFrame.from_dict(Counter(word_list),orient='index')

In [68]:
freq.sort_values(by=0, ascending=False)

                    0
food            20693
good            20172
place           18699
great           17831
time            12222
...               ...
slanging            1
chillax             1
rudeinsinuated      1
supersecret         1
813                 1

[43940 rows x 1 columns]

In [69]:
dictionary = list(freq[freq[0] > 15].index)

In [70]:
dictionary[:10]

['usually',
 'first',
 'thing',
 'say',
 'walk',
 'monday',
 'god',
 'damn',
 'hate',
 'place']

In [71]:
len(dictionary)

6049

In [72]:
import numpy as np
word_embedding = np.zeros([len(lemmatized_words),len(dictionary)])

In [73]:
for i,x in enumerate(lemmatized_words):
    for j,y in enumerate(dictionary):
        word_embedding[i,j] = sum([z == y for z in x])

In [74]:
word_embedding

array([[1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])

In [76]:
df = pd.concat([bar, pd.DataFrame(word_embedding, columns=dictionary)], axis=1)

In [82]:
df

,stars_x,useful,text,name,address,city,state,postal_code,stars_y,attributes,...,ivory,bonefish,steenbocks,papaya,runnelstone,throb,ddd,duritos,perlou,casetta
0,1,0,Usually the first thing I say when I walk into...,Mondays,523 State St,Madison,WI,53703.0,2.5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,1,My sister and I have visited Gib's twice and b...,Gib's Bar,1380 Williamson St,Madison,WI,53703.0,4.0,"{'Alcohol': ""'full_bar'"", 'GoodForDancing': 'F...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,3,The food and vibe here is outstanding. It's de...,Lucille,101 King St,Madison,WI,53703.0,4.0,"{'RestaurantsDelivery': 'True', 'Caters': 'Fal...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1,Simplicity at its best. G&B offers a nice touc...,Gates & Brovi,3502 Monroe St,Madison,WI,53711.0,3.5,"{'Caters': 'True', 'RestaurantsPriceRange2': '...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0,This is my favorite happy hour place in all of...,Tempest Oyster Bar,120 E Wilson St,Madison,WI,53703.0,4.0,"{'RestaurantsTakeOut': 'False', 'WiFi': ""u'no'...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29820,4,1,Neighborhood place small and nothing fancy but...,Village Bar,3801 Mineral Point Rd,Madison,WI,53705.0,4.5,"{'RestaurantsAttire': ""u'casual'"", 'Restaurant...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29821,5,1,Best cocktails ever! Really unique menu and we...,Merchant,121 S Pinckney St,Madison,WI,53703.0,4.0,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29822,5,1,The only negative thing I have to say is that ...,Casetta Kitchen and Counter,"222 W Washington Ave, Ste 30",Madison,WI,53703.0,4.5,"{'RestaurantsTableService': 'False', 'Restaura...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29823,5,4,"I only had a cheese burger and a beer, so hard...",Village Bar,3801 Mineral Point Rd,Madison,WI,53705.0,4.5,"{'RestaurantsAttire': ""u'casual'"", 'Restaurant...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29824,4,3,WARNING: I'm pretty sure there's some witchcra...,Merchant,121 S Pinckney St,Madison,WI,53703.0,4.0,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#write a new csv

In [83]:
df.to_csv (r'C:\Users\thton\python所有练习\STAT_628_Module_3\bar_arrow.csv', index=False)